<div class="one_quarter book-item <%= 'first' if book_counter % 4 == 0 %>">
  <div class="cover">
    <a href="#">
      <%= image_tag book.thumb_url, size: "120x200" %>
    </a>
  </div>
  <div class="meta">
    <p><b><a href="#"><%= book.title %></a></b></p>
    <p><a href="#"><%= book.author&.full_name %></a></p>
    <p><a href="#"><%= book.category&.name %></a></p>
  </div>
</div>