<!DOCTYPE html>
<html>

<head>
  <title>Sach Dien Tu AdminLTE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render "base/admin/header" %>
    <%= render "base/admin/sidebar" %>

    <div class="content-wrapper">
      <%= yield %>
    </div>

    <%= render "base/admin/footer" %>
    <%= render "base/admin/control_sidebar" %>
    <div>
</body>

</html>